@model Models.ViewModel.LoginViewModelUser
@{
    Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Veneto Admin &middot; Acount Login </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="~/Assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/dist/css/veneto-admin.min.css">
    <link rel="stylesheet" href="~/Assets/dist/demo.css" />
    <link rel="stylesheet" href="~/Assets/dist/assets/font-awesome/css/font-awesome.css">
</head>
<body class="body-sign-up">
    <div class="container">
        <div class="panel panel-default form-container">
            <div class="panel-body">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    <form role="form">
                        <h3 class="text-center margin-xl-bottom"><img src="~/ImageHome/logo_bizweb.png" /></h3>
                        <div class="form-group text-center">
                            <label class="sr-only" for="email">Tài Khoản Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @type = "Email", @placeholder = " Địa chỉ Email" })
                        </div>
                        <div class="form-group text-center">
                            <label class="sr-only" for="password">Mật Khẩu</label>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", @type = "password", @placeholder = "Mật Khẩu" })
                        </div>
                        @Html.ValidationSummary("", new {@class="text-danger",@style= "list-style: none;" })
                        <button type="submit" name="login" style="background:#7ec142;color:#fff;" class="btn btn-default btn-block btn-lg">Đăng Nhập</button>
                    </form>
                }
            </div>
          
        </div>
    </div>
</body>
</html>
<style>
    .body-sign-up{
        background:url(../../../../ImageHome/bg_login.png) repeat;
    }
</style>




