@model PagedList.IPagedList<Models.EF.Category>
@using PagedList.Mvc;
<link href="~/Assets/dist/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
@if (Model == null)
{
    <h2>không có sản phẩm nào</h2>
}
else
{
    <ul class="dropdown-menu-inner" id="dropdown_menu_inner_2" style="width:220px;">
        @for (var i = 0; i < Model.Count; i++)
        {
            var category = Model[i];
            <li class="itemCategory " data-categoryId="@category.Id" data-categoryName="@category.Name" data-categoryImage="@category.Image">
                <i class="CheckCat fa "></i><span>@Model[i].Name</span>
            </li>
        }
    </ul>
}
