
@{
    ViewBag.Title = "Index";
}

<header>
    <nav class="navbar navbar-default navbar-static-top no-margin" role="navigation" style="min-height:60px;">


    </nav>
</header>

<div class="container-fluid-md">



</div>